/* Document Body Styles. */
body {
  background-color: whitesmoke;
}

/* Show Details button(right arrow) styles. */
.arrow-right {
  /* font-size: 24px; */
  width: 50px;
  height: 50px;
  color: #eb5757;
  background: #fef7f7;
  /* padding: 13px; */
  border: none;
  border-radius: 50%;
}

/* Details-Modal Left Side Div Styles. */
.modal-left-div {
  background: rgba(235, 87, 87, 0.05);
  border: 1px solid #eb5757;
  border-radius: 16px;
  padding: 30px;
}

/* Inside Modal-> Pricing Div Styles. */
.modal-pricing-div {
  width: 132px;
  height: 100px;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}

/* all li element styles. */
li,
.output {
  color: #585858;
}
